# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Introduction to the Jupyter notebook interface
- Understanding Markdown cells
- Popular languages for Data Science
- Commonly used libraries for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pandas
3. Numpy
4. SciPy
5. Seaborn

| Data Science Tools | 
| ----------- |
| Jupyter Notebook | 
| Rstudio | 
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.
simple_arithimetic = (3*4)+5
simple_arithimetic

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.
hours_to_minutes = 200/60
print(f"{hours_to_minutes} hours")

3.3333333333333335 hours

## Author

Musab AlJahdali